*       { margin: 0; padding: 0; box-sizing: border-box; }
body    { font-family: 'Open Sans', sans-serif; }

:root {
    --pink: hsl(322, 100%, 66%);
    --light_pink: hsl(321, 100%, 78%);
    --lingh_red: hsl(0, 100%, 63%);
    --very_dark_cyan: hsl(192, 100%, 9%);
    --very_pale_blue: hsl(207, 100%, 98%);
}


/* ----- NAV ----- */
.nav {
    display: flex;
    padding: 5rem;
    color: var(--pink);
    justify-content: space-between;
    align-items: center;
}
.nav-button {
    cursor: pointer;
    background-color: color;
    padding: 0.7rem;
    border-radius: 5rem;
    border: 1px solid var(--pink);
    width: 10rem;
    text-align: center;
}
.nav-button:hover{
    color: white;
    background-color: var(--pink);
}


/* ----- HEADER ----- */
.header {
    padding: 6rem 5rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-title {
    font-weight: bolder;
    font-size: 2.3rem;
}
.header-paragraph {
    padding: 1.5rem;
    width: 50%;
    text-align: center;
}
.header-button {
    padding: 15px;
    color: white;
    background-color: var(--pink);
    border-radius: 5rem;
    width: 30%;
    cursor: pointer;
    margin-bottom: 4rem;
}
.header-button:hover{
    background-color: var(--light_pink);
    box-shadow: 0 5px 10px lightgrey;
}


/* ----- INFO ----- */
.info {
    padding: 0 7rem;
    text-align: center;
}
.info-img {
    padding: 0 0 5rem;
    width: 70%;
}
.info-wrapper {
    display: flex;
    justify-content: space-around;
    padding-bottom: 4rem;
}
.info-stats {
    display: flex;
    flex-direction: column;
}
.icon-info {
    width: 20%;
}
.info-number {
    font-size: 3rem;
}
.info-text {
    text-align: center;
    color: #A0A0A0;
}


/* ----- PANEL ----- */
.panel{
    overflow: hidden;
    width: 100%;
}
.panel-wrapper {
    display: flex;
    background-color: #f6fbff;
    padding: 5rem;
    align-items: center;
}
.panel-wrapper-white {
    display: flex;
    background-color: white;
    padding: 5rem;
    align-items: center;
    margin-top: 5rem;
}
.panel-text-title {
    font-weight: bolder;
    padding-bottom: 1.5rem;
}
.panel-text {
    padding-right: 4rem;
    width: 50%;
}
.panel-text-1 {
    padding-left: 4rem;
    width: 50%;
}
.icon-illust1 {
    width: 50%;
}
.icon-wave-top,
.icon-wave-bottom {
    display: block; /*don't display white line*/
    width: 100%;
    height: auto;
}
.footer .icon-wave-top-mobile,
.panel-container .icon-wave-top-mobile,
.panel-container .icon-wave-bottom-mobile {
    display: none;
}
.panel-ready {
    display: flex;
    margin: 2rem 0;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.panel-ready-title {
    padding: 2rem;
}
.panel-ready-button {
    padding: 1.2rem;
    color: white;
    background-color: var(--pink);
    border-radius: 5rem;
    width: 20%;
    cursor: pointer;
}
.panel-ready-button:hover{
    box-shadow: 0 5px 10px lightgrey;
    background-color: var(--light_pink);
}


/* ---- SCROLLBAR ---- */
.reveal { opacity: 0; }
.left   { transform: translateX(-100px); }
.right  { transform: translateX(100px); }
.bottom { transform: translateY(100px); }
.reveal-visible {
    opacity: 1;
    transform: translateX(0);
    transition: 1.3s cubic-bezier(.04,.74,.11,.76);
}


/* ----- FOOTER ----- */
.footer {
    margin-top: 7rem;
}
.footer-container {
    display: flex;
    color: white;
    background-color: #00252e;
    padding: 4rem 6rem;
    justify-content: space-between;
}
.footer-huddle {
    width: 230px;
}
.footer-paragraph {
    margin: 1.5rem 0;
}
.footer-info {
    display: flex;
    padding: 0.5rem 0;
    align-items: center;
}
.footer-social {
    display: flex;
    margin-top: 2.5rem;
}
.icon-networks {
    margin-right: 1rem;
    width: 15px;
}
.footer-title {
    letter-spacing: 0.1rem;
}
.footer-newsletter{
    width: 40%;
}
.footer-input {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 90%;
}
.footer-input input {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid white;
    width: 60%;
    outline: none;
}
.footer-button {
    padding: 8px;
    background-color: var(--pink);
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    border: 1px solid var(--very_dark_cyan);
    color: #fff
}
.footer-button:hover {
    background-color: var(--light_pink);
}
#small {
    position: absolute;
    top: -17px;
    color: 	#fb6464;
}
.challenge {
    background-color: #00252e;
    color: white;
    padding-bottom: 1rem;
}
.challenge a {
    color: white;
}
.footer-social-networks{
    margin-right: 1rem;
}
.footer-social-networks:hover {
    cursor: pointer;
    color: #44bcd8;
}

@media (max-width: 1020px) {
    .footer-input {
        flex-direction: column;
        align-items: last baseline;
        width: 100%;
    }
    .footer-input input {
        width: 100%;
        margin-bottom: 0.5rem;
    }
    .footer-button{
        width: 120px;
    }
}

@media (max-width: 800px) {
    .header-paragraph {
        width: 80%;
    }

    .info-img {
        width: 85%;
    }
}

@media (max-width: 680px) {
    .nav-logo{
        width: 50%;
    }
    .nav-button {
        width: 40%;
    }

    .header-paragraph{
        width: 100%;
    }

    .info {
        text-align: center;
        padding: 0 2rem;
    }
    .info-img {
        width: 100%;
    }
    .info-stats {
        align-items: center;
    }
    .info-wrapper {
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        height: 480px;
    }

    .header-button{
        width: 40%;
    }

    .panel-wrapper {
        flex-direction: column-reverse;
        padding: 4rem 0;
    }
    .panel-text {
        text-align: center;
        padding-right: 0;
        margin-top: 3rem;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .panel-wrapper-white {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        padding: 4rem 0;
    }
    .panel-text-1 {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-top: 3rem;
        text-align: center;
        align-items: center;
    }
    .panel-text-paragraph {
        width: 100%;
    }
    .panel-ready-button {
        width: 40%;
    }

    .footer-container {
        flex-direction: column-reverse;
        padding: 4rem 3rem;
    }
    .footer-newsletter {
        width: 100%;
        margin-bottom: 4rem;
    }
    .footer-huddle {
        width: 100%;
    }

    .logo-white {
        width: 100%;
    }
    .icon-wave-top,
    .icon-wave-bottom {
        display: none;
    }

    .footer .icon-wave-top-mobile,
    .panel-container .icon-wave-top-mobile,
    .panel-container .icon-wave-bottom-mobile {
        display: block;
        width: 100%;
    }
}

@media (max-width: 440px) {
    .header-button {
        width: 100%;
    }
    .header {
        padding: 1rem 5rem 0;
    }
}
